[Unit]
Description=Stable Duel Django App
After=network.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

# Preferably configure a non-privileged user
User=<%= @user %>
Group=<%= @user %>

# Specify the path to your django application root
WorkingDirectory=/home/<%= @user %>/stableduel/djangoapp

# Helpful for debugging socket activation, etc.
Environment=USER=<%= @user %>
EnvironmentFile=/home/<%= @user %>/stableduel/djangoapp/.env

# The command to start django
ExecStart=/home/<%= @user %>/stableduel/djangoapp/start.sh

Restart=always

[Install]
WantedBy=multi-user.target
